@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

body {
  display: flex;
  justify-content: center;
  padding: 0 50px;
  font-size: 120%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "Dancing Script", cursive;
  font-size: 130%;
}

button:hover,
button:focus {
  transform: scale(1.2);
  color: rgba(3, 105, 34, 0.884);
  transition: ease-in-out 0.1s;
  outline: none;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  font-family: "Dancing Script", cursive;
  font-size: 150%;
}

input {
  border: none;
  border: 1px solid black;
  border-radius: 4px;
  font-family: "Dancing Script", cursive;
  font-size: 150%;
  outline: none;
  background-color: transparent;
}

ui {
  font-family: "Dancing Script", cursive;
  font-size: 150%;
}
